{% extends "admintemplates/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
<!-- main-heading -->
<h2 class="main-title-w3layouts mb-2 text-center">Widgets</h2>
<!--// main-heading -->

<div class="container-fluid">
    <div class="row">
        <!-- Stats -->
        <div class="outer-w3-agile col-xl">
            <div class="work-progres">
                <h4 class="tittle-w3-agileits mb-4">Recent Followers</h4>
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover" id="leezatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Created at</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for program in programlist %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{program.title}}</td>
                                <td>{{program.created_at}}</td>
                                <td>{% if program.active %}active{% else %}inactive{% endif %}</td>
                                <td><a class="btn btn-info" href="{% url 'eduapp:adminprogramupdate' program.pk %}">Update</a>
                                    <a class="btn btn-danger" href="{% url 'eduapp:adminprogramdelete' 
                                    program.pk %}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--// Stats -->

    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#leezatable').DataTable();
    } );
</script>
{% endblock %}